body {
    background-color: #232323;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60vw;
    margin: 0 auto;
}

.squares {
    background-color: aliceblue;
    padding: 30%;
    height: 2.1rem;
    margin: 4%;
}

h1 {
    color: white;
    text-align: center;
}
