body {
    background-color: #232323;
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60vw;
    margin: 0 auto;
    padding-top: 30px;
}

.squares {
    background-color: aliceblue;
    padding: 30%;
    height: 2.1rem;
    margin: 4%;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: rgb(243, 248, 196);
    text-align: center;
}

.menu {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    background-color: white;
    padding: 1px;
    height: 20px;
}

#message {
    color: rgb(1, 85, 85);
    text-align: center;
}

header {
    margin:0;
    padding: 10px 0;
    background-color: rgb(32, 93, 121);

}

.selected {
    background-color: rgb(83, 83, 248);
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: rgb(32, 93, 121);
    letter-spacing: 1px;
    font-size: inherit;
}